.navbar-brand img {
    max-width: 60px;
}
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 70px; 
}
.navbar-expand-lg {
    text-align: center;
}

.navbar {
    height: 80px; /* ou o valor desejado */
  }

.navbar .navbar-brand,
.navbar .nav-link {
    line-height: 80px; /* alinha o texto verticalmente */
  }



  #main-title {
    text-align: center;
    margin-top: calc(100px + 10px); /* Ajuste o '100px' para a altura da navbar e '10px' para o espaço extra */
    margin-bottom: 30px;
}

.nav-link {
    color: purple;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 10px; 
}

#create-form,
#edit-form {
    max-width: 300px;
    margin: 0 auto;  /* Centraliza o formulário horizontalmente */
    padding: 20px;
}


#train-table thead{
    color: #fff;
    background-color: #06e67d;
   
}

.form-control {
    width: 300px;
    text-align: center;
}

.btn {
    color: #06e67d;
}

.container {
    color-scheme: #04f16355;
}

#msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #00f138;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}



/* Estilo login */

body {
    font-family: Arial;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* melhor que height fixa, pois vai respeitar o conteúdo e padding */
    margin: 0;
    padding-top: 80px; /* altura da navbar */
    box-sizing: border-box;
}

/* Estilo login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.login-box {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    background-color: #f9f9f9;
}

.input-group i {
    margin-left: 10px;
    margin-right: 5px;
    color: #888;
}

.input-group input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options label {
    font-size: 13px;
    display: flex;
    align-items: center;
    display: 5px;
}

.options a {
    color: #6a5acd;
    text-decoration: none;
    font-size: 13px;
}

.login-btn {
    width: 100px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #6a5acd, #8a2b8a);
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;  
}   

.login-btn:hover {
    background: linear-gradient(90deg, #8a2be2, #6a5acd, );
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #6a5acd;
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover,
.options a:hover {
    color: #8a2be2;
}

.nav-link {
    color: #333;
}

.icon {
    max-width: 50px;
}       