.navbar-brand img {
    width: 50px;
}

#main-title {
    text-align: center;
    margin: 40px 0 30px;  
}

.navbar {
    width: 100%;
    top: 0;
    z-index: 1030; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #2c1e74;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999;
  }

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 70px;
}

#main-title-inicio {
    text-align: center;
    margin: 90px 0 30px;  
}
/*HOME*/

#contacts-table thead {
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead{
    color: #fff;
    background-color: #025a0e;
}

.col-id {
    font-weight: bold;
}

.actions {
    text-align: right;
    width: 150px; 
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon {
    color: #1E7E34;
}

.edit-icon {
    color: #00aeff;
}

.delete-icon {
    color: #BD2130;
}

.delete-form {
    display: inline-block;
  }

.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.check-icon {
    color: #217e1e;
}

.actions {
    text-align: left;
    width: 150px;
}

#empty-list-text {
    text-align: center;
}

#msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #00f138;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
}


#view-train-container {
    max-width:  600px;
    margin: 30 auto;
    margin-top: 70px;
}



.bold {
    font-weight: bold;

}

#back-link-container {
    display: block;
    width: 500px;
    margin: 80px auto 0;
    
    
}

#back-link {
    border: 1px solid #0c029c;
    color: #000000;
    background-color: #f0f0f5;
    border-radius: 6px;
    padding: 5px;

}

#back-link:hover {
    text-decoration: double;
}

/* CREATE */
#create-form,
#edit-form {
    max-width: 500px;
    margin: 0 auto;
    

}

/*MOBILE*/
@media(max-width: 480px) {
    
    #home-link{
        display: none;
    }
}

.bg-primary {
    background-color: #302472 !important;  
  }



/* Estilo login */

body {
    font-family: Arial;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* melhor que height fixa, pois vai respeitar o conteúdo e padding */
    margin: 0;
    padding-top: 80px; /* altura da navbar */
    box-sizing: border-box;
}

/* Estilo login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
}



.login-box {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    background-color: #f9f9f9;
}

.input-group i {
    margin-left: 10px;
    margin-right: 5px;
    color: #888;
}

.input-group input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options label {
    font-size: 13px;
    display: flex;
    align-items: center;
    display: 5px;
}

.options a {
    color: #6a5acd;
    text-decoration: none;
    font-size: 13px;
}

.login-btn {
    width: 100px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #6a5acd, #8a2b8a);
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;  
}   

.login-btn:hover {
    background: linear-gradient(90deg, #8a2be2, #6a5acd, );
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #6a5acd;
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover,
.options a:hover {
    color: #8a2be2;
}

.nav-link {
    color: #ffffff;
}

.icon {
    max-width: 40px;
    height: auto;
    position: relative;
    top: 0;
} 

.links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
  }


.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ccccff;
}